* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
}
.container {
    max-width: 95%;
    margin: 0 auto;
}

@import 'block/header';
@import 'block/main';
@import 'block/advantages';
@import 'block/product';
@import 'block/about';
@import 'block/video';
@import 'block/review';
@import 'block/service';
@import 'block/certification';
@import 'block/footer';

@import 'block/political';

@import 'block/catalog';

@import 'block/cart';

@import 'block/delivery';