.basket {
    padding: 142px 0;
    background: #010101;
    &_title {
        margin-top: 60px;
        color: #EEE;
        font-family: Manrope;
        font-size: 54px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_promo {
            display: flex;
            gap: 20px;
        }
    }
}


#expand {
cursor: pointer;
}

#coolstuff {
display: none;
}

#container {
width: 100%;
max-width: 800px;
margin: auto;
text-align: center;
}

ul {
text-align: left;
}

hr {
border-color: white;
border-bottom: 0;
}

table {
width: 100%;
margin: 62px 0;
text-align: center;
}

tr {
padding: 0;
margin: 0;
border: 0;
}

td {
no-border-top: 1px solid white;
padding: 5px 2px;
}

.image {
width: 150px;
}
.table_head {
    color: #868997;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.name, .price, .amount, .pricesubtotal {
    color: #EEE;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.promocode {
    display: flex;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #161719;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10) inset;
    padding: 21px 26px;
    color: #515151;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    input {
        background: none;
        border: none;
        color: #fff;
        outline: none;
    }
}
button.apply {
    display: flex;
    padding: 20px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #515151;
    color: #515151;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    background: none;

}
.sale {
    color: #868997;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    span {
        font-variant-numeric: lining-nums tabular-nums;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: (linear-gradient(107deg, #0047FF -4.83%, #00E0FF 100.71%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
}
.big {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #EEE;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.realtotal {
    color: #EEE;
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.shipping {
    display: none;
}
.image > img {
    width: 100%;
    background: white;
    border-radius: 10px;
}
.amount {
    display: flex;
    justify-content: center;
    margin-top: 57px;
}
.amount > input {
    color: white;
    font-size: 16px;
    background: none;
    border: none;
    text-align: center;
    outline: none;
}
.remove {
width: 30px;
}
.remove > div {
    
    text-align: center;
}
.remove > div > svg {
    padding: 2px;
    transition: filter 0.3s, transform 0.3s;
    cursor: pointer;
    margin: auto;
}
.remove:hover > div > svg {
    filter: drop-shadow(0 0 5px red);
    transform: scale(1.1);
}
#checkout {
    display: flex;
    align-items: center;
    padding: 27px 43px;
    font-size: 16px;
    color: white;
    border-radius: 3px;
    text-align: center;
    border-radius: 10px;
    background: #0047FF;
    cursor: pointer;
    transition: all 0.3s ease;
}

#checkout:hover {
    background: linear-gradient(107deg, #0047FF -4.83%, #00E0FF 100.71%);
    box-shadow: 0px 0px 13.4px 0px rgba(0, 148, 255, 0.44);
}


#footer {
opacity: 0.6;
border-top: 1px solid white;
padding-top: 10px;
text-align: center;
margin-top: 15px;
}
#footer a {
color: white;
}

