footer {
    padding: 60px 0 30px 0;
    border: 1px solid rgba(238, 238, 238, 0.10);
    background: radial-gradient(160.9% 75.6% at 50% 50%, #0D0E1B 0%, #010101 100%);
    .footer_contacts {
        display: flex;
        justify-content: space-between;
        &_nav {
            &_title {
                font-family: Montserrat;
                color: #EEE;
                font-size: 24px;
                font-weight: 500;
            }
            &_list {
                padding: 0;
                &_wrapper {
                    display: flex;
                    justify-content: space-between;
                }
            }
            &_link { 
                font-family: Montserrat;
                color: #868997;
                font-size: 14px;
                font-weight: 400;
                list-style-type: none;
                margin-top: 20px;
            }
        }
        &_wrapper {
            &_title {
                font-family: Montserrat;
                color: #EEE;
                font-size: 24px;
                font-weight: 500;
            }
            &_sociale {
                display: flex;
                gap: 14px;
                margin-top: 26px;
            }
        }
        &_contaction {
            display: flex;
            flex-direction: column;
            &_title {
                font-family: Montserrat;
                color: #EEE;
                font-size: 24px;
                font-weight: 500;
            }
            &_button {
                font-family: Montserrat;
                margin-top: 26px;
                display: flex;
                width: 100%;
                padding: 15px 16px 15px 38px;
                justify-content: space-between;
                align-items: center;
                flex-shrink: 0;
                border-radius: 10px;
                background: linear-gradient(107deg, #0047FF 100.7%, #00E0FF 100.71%);
                color: #EEE;
                font-size: 20px;
                font-weight: 500;
                
            }
            &_connect {
                &_item {
                    margin-top: 28px;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    a {
                        font-family: Montserrat;
                        color: #868997;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
.copyright_footer {
    &_wrapper {
        margin-top: 50px;
        display: flex;
        gap: 29px;
    }
}
.copyright {    
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    a {
        color: #868997;
    }
}
.luminova {
    font-family: Montserrat;
    color: #868997;
    font-size: 12px;
    font-weight: 500;
}

footer .footer_contacts_contaction_button:hover {
    background: linear-gradient(107deg, #00E0FF -4.83%, #0047FF 100.71%);
}
footer .footer_contacts_contaction_button img {
    transition: transform 0.3s ease;
}
footer .footer_contacts_contaction_button:hover img {
    transform: rotate(-90deg);
}