.main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 265px 0 192px 0;
    &_title {
        font-family: Manrope;
        font-size: 120px;
        font-weight: 600;
        color: #EDEDED;
        span {
            font-family: Manrope;

            background: linear-gradient(90deg, rgba(0, 71, 255, 1), rgba(0, 224, 255, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
        }
    }
    &_subtitle {
        font-family: Montserrat;
        margin-top: 30px;
        padding: 0 !important;
        font-size: 31px;
        color: #EEEEEE;
    }
    &_hover {
        font-family: Montserrat;
        margin-top: 50px !important;
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        color: #EEEEEE;
        font-size: 32px;
        background-image: linear-gradient(to right, #0047FF 0%, #00E0FF 100%);
        background-repeat: no-repeat;
        background-size: 100% 2px;
        background-position: 0 bottom;
        transition: all 0.3s ease;
        p {
            margin: 0;
            z-index: 9998;
        }
        &_sociale {
            &_first {
                padding: 10px;
                font-family: Montserrat;
                margin-top: 38px !important;
                padding: 5px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #EEEEEE;
                font-size: 22px;
                font-weight: 500;
                border-bottom: 2px solid #4AC459;
                color: #EEE;
                transition: all 0.3s ease;
                flex-grow: 0;
                p {
                    margin: 0;
                    z-index: 9998;
                }
            }
            &_second {
                font-family: Montserrat;
                padding: 10px;
                margin-top: 38px !important;
                padding: 5px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #EEEEEE;
                font-size: 22px;
                font-weight: 500;
                border-bottom: 2px solid #039BE5;
                transition: all 0.3s ease;
                flex-grow: 0;
                p {
                    margin: 0;
                    z-index: 9998;
                }
            }
        }
    }

    .arrow {
        padding: 0 5px;  
        transition: color 0.3s ease;
    }
    .arrow_flat {
        display: none;
        z-index: 9998;
    }
    .main_hover .arrow {
        transition: transform 0.3s ease;
    }
    .main_hover:hover .arrow {
        transform: rotate(45deg);
        color: #fff;
    } 
    .main_hover:hover {
        padding: 10px;
        border-bottom: 1px solid linear-gradient(107deg, #0047FF -4.83%, #00E0FF 100.71%);
        background: linear-gradient(107deg, #0047FF -4.83%, #00E0FF 100.71%);
        border-radius: 8px;
        box-shadow: 0px 0px 13.4px 0px rgba(0, 148, 255, 0.44);
        transition: all 0.3s ease;
    }  
}


.main_hover_sociale_first.col-sm-3:hover {
    padding: 10px;
    border-radius: 8px;
    border-bottom: 1px solid #4AC459;
    background: #4AC459;
    box-shadow: 0px 0px 13.4px 0px rgba(74, 196, 89, 0.44);
    transition: all 0.3s ease;
    flex-grow: 1;
    font-size: 24px;
}
.main_hover_sociale_second.col-sm-3:hover {
    padding: 10px;
    border-radius: 8px;
    border-bottom: 1px solid #039BE5;
    background: #039BE5;
    box-shadow: 0px 0px 13.4px 0px rgba(3, 155, 229, 0.44);
    transition: all 0.3s ease;
    flex-grow: 1;
    font-size: 24px;
}
